<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header class="bg-white">
      <div class="flex">
      <%= image_tag 'icons8-doggy-bag-64.png', alt: 'TheDogfoodingStore', class: "h-10 w-10 m-5" %>
      <div class="text-2xl self-center font-bold">TheDogfoodingStore</div>
      </div>
      <h1><%= @page_title %></h1>
    </header>

    <section class="flex">

      <!-- render cart on the side bar nav if cart exists -->
      <nav class="bg-white p-6">
        <%= render partial: 'layouts/cart', locals: { cart: @cart } %>
        <ul class="text-black leading-8 mt-5">
          <li><a href="/">Home</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>

      <main class="container mx-auto mt-4 px-5 flex">
        <%= yield %>
      </main>

    </section>
  </body>
</html>
